bin/
obj/
*.user
*.suo
.vs/
TestResults/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
*.tfvars
src/UserManagementApi/appsettings.json
node_modules/
frontend/node_modules/src/UserManagementApi/appsettings.json
